.uses
    background-image: linear-gradient(to right, $accent-light , $accent-dark)
    color: $font-color-dark

.uses1, .uses2, .uses3
    height: 300px
    width: 100%

.uses2
    border-bottom: 1px solid $body-background
    border-top: 1px solid $body-background